<nav>
    <ul>
        <li><a href=""><b>InfoTechno</b></a></li>
        <li><a href="">Home</a></li>
        <li><a href="">About us</a></li>
        <li><a href="contact">Contact</a></li>
        <li><a href="">Carries</a></li>
        <li><a href="">Investors</a></li>
    </ul>
    <ul>
        <li><a href="">InfoTechno World Wild</a></li>
        <li class="logout"><a href="">logout</a></li>
    </ul>
</nav><!--<br><br><br><br><br><br><br><br><br><br><br> -->


  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="assets\Businessman-pana (1).png" alt="#"  width="90%" height="100%">
      </div>
      <div class="col-6 p-5 ">
        <h1>InfoTechno..</h1>
        <br>
        <div class="card m-2 py-3 px-5">
          <h3>Leading with purpose:</h3>
          <p>
            Through the application of innovation and our contextual knowledge, we give associates the opportunity 
            to deliver transformative outcomes that benefit society at large and prove that anything is possible.<p>
          <h4>Continuous learning:</h4>
            <p>We equip our associates to deliver innovative solutions, by providing them with opportunities to access and learn from the vast collective
             experience that exists within <b>InfoTechno.</b> We ensure they remain at the cutting edge of change.</p>
             <h4>Greater futures through innovation:</h4>
             <p> Watching the world of next-tech unfold? It's time to be part of it. Explore challenging and exciting opportunities across the globe.</p>
        </div>
      </div>
    </div><br><br>


    
  <section id="counter">
    <section class="counter-section">
      <div class="container">
        <div class="row text-center">
          <div class="col-md-3 mb-lg-0 mb-md-0 mb-5">
            <h2>
              <span id="count1"></span>900k +
            </h2>
            <p>Our Employee</p>
          </div>
          <div class="col-md-3 mb-lg-0 mb-md-0 mb-5">
            <h2>
              <span id="count2"></span>153 +
            </h2>
            <p>Nationalities</p>
          </div>
          <div class="col-md-3 mb-lg-0 mb-md-0 mb-5">
            <h2>
              <span id="count3"></span>30.5% +
            </h2>
            <p>Diversity</p>
          </div>
          <div class="col-md-3 mb-lg-0 mb-md-0 mb-5">
            <h2>
              <span id="count4"></span>100k +
            </h2>
            <p>Development</p>
          </div>
        </div>
      </div>
    </section>
<br><br>



    

<h2 class="text-center" style="color: #B70404;">PROJECTS</h2><br>
  <div class="container">
    <div class="row">
      <div class="col-4 p-5">
        <img src="assets\pexels-fauxels-3184306.jpg" alt="#" width="100%" height="80%">
        <h4 class="text-center">CLIENTS</h4>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequuntur quaerat totam accusantium</p>
        <button class="btn btn-outline-dark">View Project</button>
      </div>
      <div class="col-4 p-5">
        <img src="assets\pexels-fox-1595386.jpg" alt="" width="100%" height="80%">
        <h4 class="text-center">GROUP PROJECT</h4>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequuntur quaerat totam accusantium</p>
        <button class="btn btn-outline-dark">View Project</button>
      </div>
      <div class="col-4 p-5">
        <img src="assets\pexels-fauxels-3184405.jpg" alt="" width="100%" height="80%">
        <h4 class="text-center">CEO</h4>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequuntur quaerat totam accusantium</p>
        <button class="btn btn-outline-dark">View Project</button>
      </div>
      
        
    </div>
  </div><br><br><br><br>

  

  <section id="contact">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <img src="assets\Get in touch-bro.png"  width="450px" height="450px" alt="#">
        </div>
        <div class="col-md-6 p-5">
          <h2>Contact Us..</h2>
          <form action="">
            <div class="input-group mb-3">
              <span class="input-group-text"><i class="fa-solid fa-user"></i></span>
              <input type="text" class="form-control" placeholder="enter your name" required>
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text"><i class="fa-solid fa-envelope"></i></span>
              <input type="email" class="form-control" placeholder="enter your email" required>
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text"><i class="fa-solid fa-message"></i></span>
              <textarea class="form-control" name="" id=""  cols="30" rows="10" placeholder="message ..."></textarea>
            </div>
            <input type="submit" class="btn btn-outline-dark px-5">
          </form>
        </div>
      </div>
    </div>
  </section><br>




  <footer class="text-center text-lg-start bg-dark text-white">
    <section class="container d-flex justify-content-center justify-content-lg-between p-4">
      <div class="me-5 d-none d-lg-block">
        <span>Get connected with us on social networks:</span>
      </div>
    
    </section>
  
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <div class="row mt-3">
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4"><i style='font-size:24px' ></i>InfoTechno..</h6>
            <p>
              Our investment in strategic talent development initiatives and the linking of learning to career development have
               energized our workforce. Our empowering, performance-driven work culture is helping us attract local talent across all our key markets.
            </p>
          </div>
  
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4">Company</h6>
            <p><a href="#!" class="text-reset">Industrial</a></p>
            <p><a href="#!" class="text-reset">Products and Platform</a></p>
            <p><a href="#!" class="text-reset">Service</a></p>
            <p><a href="#!" class="text-reset">Insight</a></p>
          </div>
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4">Useful links</h6>
            <p><a href="#home" class="text-reset">FAQ</a></p>
            <p><a href="#explore-food" class="text-reset">Feedback</a></p>
            <p><a href="#about" class="text-reset">About Us</a></p>
            <p><a href="#contact" class="text-reset">Contact Us</a></p>
          </div>
          
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <h5 class="text-uppercase fw-bold mb-4" class="text-reset"> Contact</h5><br>
            <p><i class="fa fa-home"></i>USA</p>
            <p><i class="fa fa-envelope"></i>infotech.chennai@example.com</p>
            <p><i class="fa fa-phone"></i> +91 9876 5432 10</p>
          </div>
  
        </div>
      </div>
    </section>
    <div class="text-center p-4">
      &copy;  2023 Copyright <a class="text-reset fw-bold" href="#">InfoTechno...
      </a>
    </div>
  </footer>
   